.here_or_to_go {
    display: flex;
    width: 50%;
    height: 100%;
    margin: 0;
    padding: 0;
    float: left;
    align-items: center;
    justify-content: center;
}

.here_or_to_go div {
    display: flex;
    width: 60vh;
    height: 60vh;
    margin: 10vh;
    color: var(--primary-color);
    font-size: var(--xx-large-font-size);
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

.here_or_to_go div:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}